<%= form_for([@event, @event.comments.build]) do |f| %>
  <p>
    <strong>Commenter/User_id</strong>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>