// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event {
	border-bottom: solid 1px #CCC;
	padding: 5px 
}

.event p {
	margin: 4 px;
}

.event:hover {
	background:#ebebeb
}

.event .admin {
	display: none;
}

.event:hover .admin {
	display: inline;
}